<div class="saison-details" *ngIf="!editionDemandee">
  <mat-card>
    <mat-card-content class="content-card-saison-details">

      <!-- Affichage classique -->

      <!-- Libelle -->
      <div *ngIf="!editionDemandee" class="display-container-card-saison-details">
        <div class="label column-card">{{ saison.libelle }}</div>
      </div>

      <!-- Dates -->
      <div *ngIf="!editionDemandee" class="display-container-card-saison-details">
        <div class="column-card">
          {{ "admin.saisons.mentionDu" | translate: { } }} {{ saison.dateDebut.toDate() | date:'dd/MM/yyyy' }} {{
          "admin.saisons.mentionAu" | translate: { } }} {{ saison.dateFin.toDate() | date:'dd/MM/yyyy' }}
        </div>

      </div>

      <!-- Etat Saison -->
      <div class="column-card" *ngIf="!(editionDemandee && planningDemande)">
        <mat-chip [style.background-color]="couleurBadgeSaison">
          <div class="chip-text-etat-saison">{{ texteBadgeSaison }}</div>
        </mat-chip>
      </div>

      <!-- Boutons d'édition / Suppression / Planning -->
      <div class="column-boutons column-card" *ngIf="!(editionDemandee && planningDemande)">

        <button mat-icon-button (click)="editerSaison()">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="supprimerSaison(saison)" [matTooltip]="recupererMessageSuppressionImpossible()"
          [ngStyle]="{'cursor': suppressionImpossible ? 'not-allowed' : 'pointer'}"
          [ngClass]="{'disabled-button': suppressionImpossible}">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button (click)="editerPlanningSaison()">
          <mat-icon>schedule</mat-icon>
        </button>
      </div>


    </mat-card-content>
  </mat-card>
</div>

<div class="saison-details" *ngIf="editionDemandee">
  <mat-card>
    <mat-card-content>
      <!-- Affichage Edition -->
      <div *ngIf="editionDemandee" class="display-container-card-saison-details">

        <div class="form-group column-card" fxLayout="row" fxLayoutAlign="center center">

          <!-- Libelle -->
          <mat-form-field class="mat-form-field">
            <mat-label for="libelle">{{ 'admin.saisons.edition.champLibelle' | translate }}</mat-label>
            <input matInput type="text" class="form-control" id="libelle" [(ngModel)]="saison.libelle">
          </mat-form-field>

          <!-- Dates -->
          <div class="column-card">
            <mat-form-field class="mat-form-field">
              <mat-label>{{ 'admin.saisons.edition.champDateDebut' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerDebut" id="dateDebut" [(ngModel)]="dateDebutFormatee">
              <mat-datepicker-toggle matSuffix [for]="pickerDebut"></mat-datepicker-toggle>
              <mat-datepicker #pickerDebut (dateChange)="lorsChangementDatePicker($event,'deb')"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="mat-form-field">
              <mat-label>{{ 'admin.saisons.edition.champDateFin' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerFin" id="dateFin" [(ngModel)]="dateFinFormatee">
              <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
              <mat-datepicker #pickerFin (dateChange)="lorsChangementDatePicker($event,'fin')"></mat-datepicker>
            </mat-form-field>
          </div>

          <!--  Boutons Formulaire -->
          <div class="button-container">
            <button mat-raised-button color="primary" (click)="validerMiseAJourSaison(saison.libelle, dateDebutFormatee, dateFinFormatee)"
              [disabled]="!formulaireValide()">{{ 'commun.enregistrer' | translate }}</button>
            <button mat-button color="warn" (click)="annulerMiseAJourSaison()">{{ 'commun.annuler' | translate
              }}</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- <mat-chip-listbox aria-label="Filtres jour">
  <mat-chip class="jourFiltre" color="primary" selected (click)="toggleFiltre('lundi')">Lundi</mat-chip>
  <mat-chip class="jourFiltre" color="primary" selected (click)="toggleFiltre('mardi')">Mardi</mat-chip>
  <mat-chip class="jourFiltre" color="primary" selected (click)="toggleFiltre('mercredi')">Mercredi</mat-chip>
  <mat-chip class="jourFiltre" color="primary" selected (click)="toggleFiltre('jeudi')">Jeudi</mat-chip>
  <mat-chip class="jourFiltre" color="primary" selected (click)="toggleFiltre('vendredi')">Vendredi</mat-chip>
  <mat-chip class="jourFiltre" color="primary" selected (click)="toggleFiltre('samedi')">Samedi</mat-chip>
  <mat-chip class="jourFiltre" color="primary" selected (click)="toggleFiltre('dimanche')">Dimanche</mat-chip>
</mat-chip-listbox> -->

<div class="seance-details" *ngIf="planningDemande">
  <div class="seance-column">
    <div *ngFor="let seance of recupererSeancesPossiblesNonSelectionnees()" class="seance-cell">
      <app-seance-card [seancePossiblePeriode]="seance">$
      </app-seance-card>
    </div>
  </div>
</div>