/* Définit l'affichage en flexbox et centre les éléments horizontalement */
.saison-details {
    display: flex;
    justify-content: center;
}

/* Définit l'affichage en grille avec 4 colonnes égales et un espacement entre les éléments */
.content-card-saison-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

/* Définit l'affichage en flexbox avec une direction de rangée et aligne les éléments horizontalement avec un espacement entre eux, et les centre verticalement */
.display-container-card-saison-details {
    display: flex;
    flex-direction: row;
    /* Aligner les éléments horizontalement */
    justify-content: space-between;
    /* Espacement entre les éléments */
    align-items: center;
    /* Centrer verticalement */
}

/* Applique une police en gras et une taille de police plus grande */
.label {
    font-weight: bold;
    font-size: 1.2rem;
    /* Taille de police plus grande */
}

/* Définit l'affichage en flexbox avec une direction de rangée et centre les éléments verticalement et horizontalement */
.column-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Centre verticalement */
    justify-content: center;
    /* Centre horizontalement */
    padding: 8px;
}

/* Définit l'affichage en flexbox et centre les éléments verticalement */
.column-boutons {
    display: flex;
    align-items: center;
    /* Centre verticalement */
    position: relative;
}

/* Ajoute une marge autour de la carte */
mat-card {
    margin: 10px;
}

/* Applique une police en gras  */
.chip-text-etat-saison {
    font-weight: bold;
}

/* Réduit l'opacité des boutons désactivés */
.disabled-button {
    opacity: 0.5;
}

/* Ajoute un effet de survol sur les boutons désactivés */
.disabled-button:hover::after {
    position: absolute;
    top: -30px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 3px;
}

/* Ajoute une marge à gauche et à droite des champs de formulaire */
.mat-form-field {
    margin-right: 10px;
    margin-left: 10px;
}

.seance-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Pour centrer verticalement */
}

.seance-column {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: space-between; /* Espacement égal entre les éléments */
}

.seance-cell {
    flex: calc(33.33% - 10px); /* Divise l'espace en trois colonnes avec un espacement de 10px entre chaque carte */
    margin-bottom: 20px; /* Espacement entre les lignes de cartes */
    box-sizing: border-box; /* Inclut la bordure et le padding dans le calcul de la largeur */
  }

.seance-card-content {
    text-align: center;
    /* Centrer le texte à l'intérieur de chaque carte */
}

.seance-details {
    display: flex;
    flex-direction: column; /* Disposition en colonne */
}

/* Styles supplémentaires si nécessaire */
.seance-details mat-chip,
.seance-details mat-label,
.seance-details app-seances-card {
    margin-right: 10px;
    /* Espace entre les éléments */
}