<form #groupeForm="ngForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-card class="mat-card">

        <mat-card-title class="mat-card-title">
           <div *ngIf="groupeAEditer.uid === ''"> {{ "admin.groupes.edition.titreCreation" | translate }}</div>
           <div *ngIf="groupeAEditer.uid !== ''"> {{ "admin.groupes.edition.titreModification" | translate }}</div>
        </mat-card-title>

        <mat-form-field class="full-width mat-form-field">
            <input matInput placeholder="{{ 'admin.groupes.edition.champNom' | translate }}" name="nom"
                [(ngModel)]="groupeAEditer.nom" required>
            <mat-error *ngIf="groupeForm.controls['nom']?.invalid && groupeForm.controls['nom']?.touched">
                {{ "admin.groupes.edition.champNomObligatoire" | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width mat-form-field">
            <input matInput placeholder="{{ 'admin.groupes.edition.champNumero' | translate }}" name="numero"
                [(ngModel)]="groupeAEditer.numero" required>
            <mat-error *ngIf="groupeForm.controls['numero']?.invalid && groupeForm.controls['numero']?.touched">
                {{ "admin.groupes.edition.champNumeroObligatoire" | translate }}
            </mat-error>
        </mat-form-field>

        <mat-error *ngIf="afficherMessageErreur">
            {{ messageErreur }}
        </mat-error>

        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="groupeForm.invalid">
                {{ "commun.enregistrer" | translate }}
            </button>

            <button mat-button color="warn" type="button" (click)="closeDialog()">
                {{ "commun.annuler" | translate }}
            </button>
        </div>
        
    </mat-card>
</form>
