.date-time-text {
  font-size: 20px;
  font-weight: bold;
  // text-align: center;
  display: flex;
  align-items: center; /* Pour centrer verticalement le texte */
  justify-content: center; /* Pour centrer horizontalement le texte */
  height: 100%; /* Pour que la colonne ait une hauteur de 100% */
}

.greyed-out {
  background-color: #e0e0e0; /* Couleur de fond grisée */
  color: #9e9e9e;           /* Couleur du texte grisée */
  opacity: 0.6;             /* Réduit l'opacité pour un effet grisé */
}

/* Si vous voulez aussi griser les boutons à l'intérieur de la carte */
.greyed-out .mat-icon-button {
  pointer-events: none; /* Désactive les interactions */
  color: #9e9e9e;       /* Couleur de l'icône grisée */
}

seance-content {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  flex: 1;
  align-items: center;
}

.column-date-time,
.column-chips,
.column-button-delete {
  flex: 1; /* Chaque colonne occupera un tiers de l'espace disponible */
  padding: 0 10px; /* Ajoute une marge intérieure pour l'espacement */
}

.column-date-time {
  max-width: 300px; /* Largeur maximale de la colonne de date/heure */
}

.column-chips {
  max-width: 100px; /* Largeur maximale de la colonne des puces */
}

.column-button-delete {
  max-width: 50px; /* Largeur maximale de la colonne du bouton de suppression */
}