<mat-card [ngClass]="{ 'greyed-out': seance.supprimee }">
    <mat-card-content>
        <div class="row">
            <div class="date-header">
                {{ seance.date | date:'yyyy-MM-dd' | localizeDate:'EEEE dd MMMM yyyy' }}
                {{ seance.date | date:'yyyy-MM-dd' | localizeDate:'hh:mm' }}
            </div>
            <div class="col button-column">
                <button mat-icon-button class="add-button" (click)="supprimerSeance()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>