.puyfolais-details {
  margin: 8px; /* Ajouter une marge autour de chaque carte */
}

.simplified-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 16px;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 8px; /* Espacement horizontal et vertical entre les cartes */
}

.mineur-card {
  background-color: #f8d7da; /* Fond légèrement rouge pour les mineurs */
}

.card-header {
  display: flex;
  justify-content: space-between; /* Espace entre le titre et les boutons */
  align-items: center; /* Aligner verticalement le texte et les boutons */
}

.card-title {
  display: flex;
  flex-direction: column; /* Nom et email en colonne */
}

.name {
  display: block;
}

.email {
  color: #888;
  font-size: 0.9rem;
}

.button-container {
  display: flex;
  align-items: center; /* Aligner verticalement les boutons */
}
