<div class="puyfolais-details">
  <mat-card class="simplified-card" [ngClass]="{ 'mineur-card': isMineur(puyfolais.dateNaissance) }">
    <mat-card-content>
      <div class="card-header">
        <div class="card-title">
          <span class="name">{{ puyfolais.nom }} {{ puyfolais.prenom }}</span>
          <span class="email">{{ puyfolais.email }}</span>
        </div>
        <div class="button-container">
          <button mat-icon-button (click)="editerPuyfolais(puyfolais)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="ouvrirConfirmationDialogPourSuppressionPuyfolais(puyfolais)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
