<div class="saison-edit-card-container" *ngIf="saisonConvertie">
  <mat-card class="saison-card saison-edit-card">
    <mat-card-content>
      <!-- Première ligne : Titre -->
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label for="libelle">{{ 'admin.saisons.edition.champLibelle' | translate }}</mat-label>
          <input matInput type="text" class="form-control" id="libelle" [(ngModel)]="saisonConvertie.libelle">
        </mat-form-field>
      </div>

      <!-- Deuxième ligne : Dates -->
      <div class="form-group" fxLayout="row">
        <mat-form-field style="margin-right: 10px;">
          <mat-label>{{ 'admin.saisons.edition.champDateDebut' | translate }}</mat-label>
          <input matInput [matDatepicker]="pickerDebut" id="dateDebut" [(ngModel)]="saisonConvertie.dateDebut">
          <mat-datepicker-toggle matSuffix [for]="pickerDebut"></mat-datepicker-toggle>
          <mat-datepicker #pickerDebut></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-label>{{ 'admin.saisons.edition.champDateFin' | translate }}</mat-label>
          <input matInput [matDatepicker]="pickerFin" id="dateFin" [(ngModel)]="saisonConvertie.dateFin">
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Troisième ligne : Boutons -->
      <div class="form-group" fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button color="primary" (click)="validerMiseAJourSaison()" [disabled]="!formulaireValide()">{{ 'commun.enregistrer' | translate }}</button>
        <button mat-button color="warn" (click)="annulerMiseAJourSaison()">{{ 'commun.annuler' | translate }}</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>