.saison-edit-card-container {
  display: flex;
  justify-content: center;
}

.saison-edit-card {
  width: auto;
  /* Ajuste la largeur au contenu */
  max-width: 90%;
  /* Optionnel : limite la largeur maximale */
}
