<div class="structure-details" *ngIf="!editionDemandee">
  <mat-card>
    <mat-card-content class="content-card-structure-details">

      <!-- Affichage classique -->

      <!-- Nom -->
      <div *ngIf="!editionDemandee" class="display-container-card-structure-details">
        <div class="label column-card">{{ structure.nom }}</div>
      </div>

      <!-- Type -->
      <div *ngIf="!editionDemandee" class="display-container-card-structure-details">
        <div class="label column-card">{{ traductionEnumService.traduireTypeStructure(structure.type) }}</div>
      </div>

      <!-- Boutons d'édition / Suppression / Listes  -->
      <div class="column-boutons column-card" *ngIf="!(editionDemandee)">

        <button mat-icon-button (click)="editerStructure(structure)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="ouvrirConfirmationDialogPourSuppressionStructure(structure)"
          [matTooltip]="recupererMessagesuppressionStructureImpossible()"
          [ngStyle]="{'cursor': suppressionStructureImpossible ? 'not-allowed' : 'pointer'}"
          [ngClass]="{'disabled-button': suppressionStructureImpossible}">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button (click)="parametrerStructure()">
          <mat-icon>lists</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="demandeAffichageListeGroupes">
  <mat-action-list>
    @for (groupe of listeGroupeStructure; track groupe) {
      <div class="button-container">
        <button mat-list-item (click)="voirFicheGroupe(groupe)">{{groupe.nom}} (Groupe {{groupe.numero}})</button>
        <button mat-icon-button (click)="editerGroupe(groupe)">
          <mat-icon>update</mat-icon>
        </button>
        <button mat-icon-button (click)="ouvrirConfirmationDialogPourSuppressionGroupe(groupe)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </mat-action-list>
  <button mat-raised-button color="primary" (click)="ajouterGroupe()">{{ 'admin.groupes.ajouterGroupe' | translate: {
    nomStructure: structure.nom} }}</button>
</div>