<!-- votre-modal.component.html -->



<form #saisonForm="ngForm" (ngSubmit)="onSubmit(saisonForm)" class="form-container">
<mat-card>
  <mat-card-title class="mat-card-title">
    Nouvelle Saison
  </mat-card-title>
  <mat-form-field class="full-width">
    <input matInput placeholder="Libellé" name="libelle" [(ngModel)]="saisonForm.value['libelle']" required>
    <mat-error *ngIf="saisonForm.controls['libelle'].invalid && saisonForm.controls['libelle'].touched">
      Le libellé est requis
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="picker" placeholder="Date de Début" name="dateDebut" ngModel required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="saisonForm.controls['dateDebut'].invalid && saisonForm.controls['dateDebut'].touched">
      La date de début est requise
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="picker2" placeholder="Date de Fin" name="dateFin" ngModel required>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    <mat-error *ngIf="saisonForm.controls['dateFin'].invalid && saisonForm.controls['dateFin'].touched">
      La date de fin est requise
    </mat-error>
  </mat-form-field>

    <!-- Zone de message d'erreur pour la période chevauchante -->
    <mat-error *ngIf="messageErreur">
        La période saisie chevauche une période existante.
      </mat-error>
      
  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="saisonForm.invalid">Enregistrer</button>
    <button mat-button  color="warn" type="button" (click)="closeDialog()">Annuler</button>

  </div>
</mat-card>
</form>
