.tpc-container-global {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; /* Nécessaire pour positionner les éléments enfants absolument */
    padding: 10px;
  }
  
  .tpc-container-navigation {
    width: 10%; /* Occupe 10% de la largeur */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }
  
  .tpc-container-entete {
    width: 90%; /* Occupe 90% de la largeur */
  }
  
  #titre-page {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    letter-spacing: 6px;
    word-spacing: 6px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    padding: 10px;
  }
  
  #accroche-page {
    font-family: Georgia, serif;
    font-size: 19px;
    letter-spacing: -1px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .tpc-container-global {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .tpc-container-navigation {
      width: 100%; /* Occupe 100% de la largeur */
      justify-content: flex-start; /* Aligne à gauche */
      padding-bottom: 10px;
    }
  
    .tpc-container-entete {
      width: 100%; /* Occupe 100% de la largeur */
    }
  
    #titre-page {
      font-size: 30px;
      text-align: left;
    }
  
    #accroche-page {
      font-size: 16px;
      text-align: left;
    }
  }
  
  @media (max-width: 480px) {
    .tpc-container-navigation {
      padding-bottom: 5px;
    }
  
    #titre-page {
      font-size: 25px;
    }
  
    #accroche-page {
      font-size: 14px;
    }
  }
  