.tpc-container-global {
    display: flex;
    position: relative;
    /* Nécessaire pour positionner les éléments enfants absolument */
}

.tpc-container-navigation {
    width: 10%; /* Occupe 10% de la largeur */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.tpc-container-entete {
  width: 90%; /* Occupe 90% de la largeur */
}

#titre-page {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    letter-spacing: 6px;
    word-spacing: 6px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    // text-align: center;
    padding: 10px;
}

#accroche-page {
    font-family: Georgia, serif;
    font-size: 19px;
    letter-spacing: -1px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    // text-align: center;
}