<form #structureForm="ngForm" (ngSubmit)="onSubmit(structureForm)" class="form-container">
    <mat-card>
        <mat-card-title class="mat-card-title">
            {{ "admin.structures.edition.titre" | translate: { } }}
        </mat-card-title>
        <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'admin.structures.edition.champNom' | translate }}" name="nom"
                [(ngModel)]="structureForm.value['nom']" required>
            <mat-error *ngIf="structureForm.invalid && structureForm.controls['nom'].touched">
                {{ "admin.structures.edition.champNomObligatoire" | translate: { } }}
            </mat-error>
        </mat-form-field>

        <!-- Liste déroulante pour le type de structure -->
        <mat-form-field class="full-width">
            <mat-label>{{ 'admin.structures.edition.champType' | translate }}</mat-label>
            <mat-select [(ngModel)]="typeStructureSelectionnee" name="typeStructure">
                <mat-option *ngFor="let type of listeTypesStructures" [value]="type">
                    {{ traductionEnumService.traduireTypeStructure(type) }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="structureForm.invalid && structureForm.controls['typeStructure'].touched">
                {{ "admin.structures.edition.champTypeObligatoire" | translate: { } }}
            </mat-error>
        </mat-form-field>

        <mat-error *ngIf="afficherMessageErreur">
            {{ messageErreur }}
        </mat-error>

        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="structureForm.invalid || !typeStructureSelectionnee">{{
                "commun.enregistrer" | translate: { } }}</button>
            <button mat-button color="warn" type="button" (click)="closeDialog()">{{ "commun.annuler" | translate: { }
                }}</button>

        </div>
    </mat-card>
</form>