<div id="titre-page">{{ "admin.titre" | translate: { } }}</div>

<p id="text-page">{{ "admin.introduction" | translate: { } }}</p>

<button mat-fab  routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>

<div class="menu-button-container">
    <button  mat-raised-button color="primary" routerLink="/admin/param"  class="menu-button" [disabled]="true">
        <div class="menu-button-content">
        <mat-icon >settings</mat-icon>
        {{ 'admin.service.gestionParametrage' | translate }}
    </div>
    </button>

    <button  mat-raised-button color="primary" routerLink="/admin/puyfolais" class="menu-button">
        <div class="menu-button-content">
        <mat-icon >theater_comedy</mat-icon>
        {{ 'admin.service.gestionPuyfolais' | translate }}
    </div>
    </button>

    <button  mat-raised-button color="primary" routerLink="/admin/scene"  class="menu-button" [disabled]="true">
        <div class="menu-button-content">
        <mat-icon >movie_edit</mat-icon>
        {{ 'admin.service.gestionScene' | translate }}
    </div>
    </button>

    <button  mat-raised-button color="primary" routerLink="/admin/utilisateurs"  class="menu-button" [disabled]="true">
        <div class="menu-button-content">
        <mat-icon >supervisor_account</mat-icon>
        {{ 'admin.service.gestionUtilisateur' | translate }}
    </div>
    </button>

    <button  mat-raised-button color="primary" routerLink="/admin/structures"  class="menu-button">
        <div class="menu-button-content">
        <mat-icon >account_tree</mat-icon>
        {{ 'admin.service.gestionStructure' | translate }}
    </div>
    </button>

    <button  mat-raised-button color="primary" routerLink="/admin/saisons"  class="menu-button">
        <div class="menu-button-content">
        <mat-icon >sunny</mat-icon>
        {{ 'admin.service.gestionSaison' | translate }}
    </div>
    </button>    
</div>
