#titre-accueil {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    letter-spacing: 6px;
    word-spacing: 6px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
    padding: 10px;
}

#textCommun {
    font-family: Georgia, serif;
    font-size: 19px;
    letter-spacing: -1px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    }